---
import { formatLongDate } from "@/lib/content";

type Props = {
  date: Date;
  kind?: string;
  version?: string;
  tags?: string[];
};

const { date, kind = "Article", version, tags = [] } = Astro.props;
const primaryTag = tags[0];
---

<div class="release-meta" aria-label="Article metadata">
  <span>{formatLongDate(date)}</span>
  <span>{kind}</span>
  {version ? <span>Version {version}</span> : null}
  {primaryTag ? <span>{primaryTag}</span> : null}
</div>
